<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ntumobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NTUMobile">
        <activity
            android:name=".profile"/>
        <activity
            android:name=".avatar"/>
        <activity
            android:name=".register_info"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".my_booking"
            android:exported="true" />
        <activity
            android:name=".booking_timeslot"
            android:exported="true" />
        <activity
            android:name=".booking_hive"
            android:exported="true" />
        <activity
            android:name=".booking_main"
            android:exported="true" />
        <activity
            android:name=".chat_main"
            android:exported="true" />
        <activity
            android:name=".splash_screen_main"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".community_main"
            android:exported="true" />
        <activity
            android:name=".work_main"
            android:exported="true" />
        <activity
            android:name=".work_modules"
            android:exported="true" />
        <activity
            android:name=".work_specificmod"
            android:exported="true" />
        <activity
            android:name=".work_specificmod_notes"
            android:exported="true" />
        <activity
            android:name=".work_friends"
            android:exported="true" />
        <activity
            android:name=".addFriends"
            android:exported="true" />
        <activity
            android:name=".viewFriendProfile"
            android:exported="true" />
        <activity
            android:name=".upload"
            android:exported="true"
            android:theme="@style/Theme.NTUMobile.CustomTheme" />
        <activity
            android:name=".viewPDFfiles"
            android:exported="true" />
        <activity
            android:name=".uploadPDFactivity"
            android:exported="true" />
        <activity
            android:name=".uploadImage"
            android:exported="true" />
        <activity
            android:name=".retrieveImage"
            android:exported="true" />
        <activity
            android:name=".social_main"
            android:exported="true" />
        <activity
            android:name=".social_cca"
            android:exported="true" />
        <activity
            android:name=".social_cca_su"
            android:exported="true" />
        <activity
            android:name=".social_jio"
            android:exported="true" />
        <activity
            android:name=".social_jio_sports"
            android:exported="true" />
        <activity
            android:name=".social_jio_sports_sessionInfo"
            android:exported="true" />
        <activity
            android:name=".social_jio_sports_createSession"
            android:exported="true" />

        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>